section {
    width: 30rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}

div {
    text-align: center;
}

img {
    width: 15rem;
    height: 15rem;
}

h1 {
    text-align: center;
}

p {
    margin-top: 1rem;
}

h2 {
    font-weight: bold;
    margin-top: 2rem;
}

span {
    font-weight: bold;
}

@media (min-width: 600px) {
    section {
        width: 52rem;
    }
}

@media (min-width: 1024px) {
    section {
        width: 80rem;
    }
}