:root {
  --bckg-color: #252C5A;
  --font-color: white;
  --very-light-gray:#C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD982;
  --very-light-blue:#bad7f1;
  --dark-blue: #252C5A;
  --white: #FFFFFF;
  --black: #000000;
  --ss: 1.2rem;
  --sm: 1.4rem;
  --md: 1.5rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
  position: relative;
}

p, ul {
  font-size: var(--sm);
  line-height: 2rem;
}

@media (min-width: 1024px) {
  p {
    font-size: 1.6rem;
  }
}
