.bg_container {
  width: 100%;
  height: 18rem;
  display: flex;
  background-image: url(/imgs/bg-header.png);
  background-repeat: no-repeat;
  background-size: 90% 80%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.introduction {
  width: 100%;
  height: 18rem;
  display: flex;
  /* background-image: url(/imgs/bg-header.png);
  background-repeat: no-repeat;
  background-size: 90% 80%; */
  margin: 0 auto;
}

.introduction_left {
  width: 60%;
  padding-left: 3rem;
  position: relative;
}

.introduction_left h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  /* font-family: 'Work Sans', sans-serif; */
}

.introduction_left h2 {
  /* font-family: 'Nothing You Could Do', cursive; */
  color: var(--hospital-green);
  font-weight: 700;
}

.introduction_left h2, .introduction_left p {
  width: 100%;
  margin-top: 1rem;
}

.introduction_left p {
  background-color: var(--dark-blue);
  border: 0.1rem solid var(--dark-blue);
  height: 4rem;
  width: 15rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.introduction_left a {
  background-color: var(--dark-blue);
  border: 0.1rem solid var(--dark-blue);
  font-size: var(--ss);
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.introduction_left a:active {
  color: var(--dark-blue);
  background-color: var(--white);
}

.introduction_right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction_right img {
  width: 9.35rem;
  height: 11.5rem;
}

.personal_info {
  width: 100%;
  margin-top: 5rem;
}

.personal_info__left {
  text-align: center;
  width: 100%;
}

.personal_info__left img {
  width: 13rem;
  height: 11.6rem;
  margin-left: 3rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.personal_info__left h1 {
  font-size: 2.5rem;
}

.personal_info__left p {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.personal_info__left p, .personal_info__left h1 {
  text-align: left;
}

.personal_info__right h1{
  margin-left: 2rem;
  font-size: 2.5rem;
}

.personal_info__right p{
  padding: 1rem 3rem;
}

.personal_info__right {
  visibility: hidden;
  position: absolute;
}

.curriculum {
  width: 100%;
  margin-top: 5rem;
}

.curriculum_left, .curriculum_right {
  width: 100%;
}

.curriculum_left h1{
  margin-left: 1rem;
  font-size: 2.5rem;
}

.curriculum_left h2 {
  /* font-family: 'Nothing You Could Do', cursive; */
  font-weight: 700;
  color: var(--hospital-green);
}

.curriculum_left h2, .curriculum_left p, .curriculum_left ul {
  margin-left: 1rem;
}

.curriculum_left ul li {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.curriculum_left h2, .curriculum_left ul {
  margin-top: 1rem;
}

.curriculum_right h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-top: 5rem;
}

.curriculum_right p {
  margin-left: 1rem;
  margin-top: 1rem;
}

.habilities_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding-left: 2rem; */
  align-items: center;
}

.curriculum_right .technical_habilities {
  margin-top: 4rem;
}

.curriculum_right .habilities_container p {
  margin-left: 0;
  text-align: center;
}

.habilities_container img {
  width: 4rem;
  height: 4rem;
}

.habilities_container p:nth-child(5) img {
  width: 9.84rem;
  height: 2rem;
}

.habilities_container p:nth-child(9) img {
  width: 14.96rem;
  height: 4rem;
}

@media (min-width: 600px) {
  .bg_container {
    height: 22.1rem;
  }

  .introduction {
    height: auto;
    background-size: 90% 90%;
  }

  .introduction_left {
      padding-left: 8rem;
  }

  .introduction_left h1 {
      margin-top: 5rem;
      font-size: 3.5rem;
  }

  .introduction_left h2 {
      font-size: 2rem;
  }

  .introduction_right img{
      width: 16.3rem;
      height: 20rem;
  }

  .curriculum {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }

  .curriculum_left h2 {
      font-size: 2rem;
  }

  .personal_info {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }

  .personal_info__left img{
      float: none;
      width: 20rem;
      height: 17.9rem;
      margin: 0;
  }

  .personal_info__left h1 {
      padding-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .bg_container {
    height: 40rem;
  }
  
  .introduction {
      height: 40rem;
      width: 100rem;
  }

  .introduction_left h2 {
      font-size: 2.5rem;
  }

  .introduction_left button {
      font-weight: 700;
  }

  .introduction_right img {
      width: 24.4rem;
      height: 30rem;
  }

  .personal_info {
      /* width: 100%; */
      width: 100rem;
      display: flex;
  }

  .personal_info__left {
      display: flex;
      align-items: center;
      padding-left: 8rem;
      justify-content: left;
  }

  .personal_info__left, .personal_info__right {
      width: 50%;
  }

  .personal_info__left p, .personal_info__left h1 {
      visibility: hidden;
      position: absolute;
  }

  .personal_info__left img{
      width: 30rem;
      height: 26.8rem;
  }

  .personal_info__right {
      visibility: visible;
      position: static;
  }

  .personal_info__right h1 {
      font-size: 3rem;
      margin-left: 3rem;
  }

  .curriculum {
      display: flex;
      /* width: 100%; */
      width: 100rem;
  }

  .curriculum_left, .curriculum_right {
      width: 50%;
  }

  .curriculum_left h1 {
      font-size: 3rem;
      margin-left: 8rem;
  }

  .curriculum_left h2 {
      font-size: 2.5rem;
  }

  .curriculum_left ul {
      font-size: 1.6rem;
  }

  .curriculum_left h2, .curriculum_left p, .curriculum_left ul{
      margin-left: 8rem;
  }

  .curriculum_right {
      align-items: center;
  }

  .curriculum_right h1 {
      font-size: 3rem;
      margin-left: 3rem;
      margin-top: 8rem;
  }

  .curriculum_right p {
      margin-left: 3rem;
      margin-top: 3rem;
  }

  .habilities_container p {
    text-align: left;
  }

  .habilities_container img {
    width: 6rem;
    height: 6rem;
  }

  .habilities_container p:nth-child(5) img  {
    width: 14.76rem;
    height: 3rem;
  }

  .habilities_container p:nth-child(9) img {
    width: 18.7rem;
    height: 5rem;
  }
}